.button 
        {
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        
        .button1 
        {
          background-color: white; 
          color: black; 
          border: 2px solid #4CAF50;
          position: relative;
          left: 120px;
        }
        
        .button1:hover 
        {
          background-color: #4CAF50;
          color: white;
        }
    

        #circle {
          background-color:black;
          color:white;
          width: 500px;
          height: 500px;
          border-radius:50%; 
          display: flex;
          align-items: center;
      }
      div.innercircle {
          background-color: #0763e5;
          color: black;
          width: 200px;
          height: 200px; 
          text-align:center;
          border-radius:50%;
          margin: 0 auto;
           } 

           p#Answer {
            padding: 23px;
            color: white;
            letter-spacing: 2px;
            font-size:23px;
          }
        body {
  background-image: linear-gradient(to right,#9795EF ,#F9C5D1);

}




       
